.technologies {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px;
}

@media screen and (max-width: 830px) {
  .technologies {
    width: 90%;
    gap: 27px;
  }
}
