.btn {
  text-decoration: none;
  /* background-color: var(--color-primary); */
  background-color: transparent;
  color: var(--color-text);
  border-radius: 100px;
  border: none;
  border: 2px solid var(--color-text);

  /* font-weight: 600; */
  padding: 24px 36px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  /* text-transform: uppercase; */
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-special);
}

.icon {
  position: relative;
  top: 3px;
  margin-right: 3px;
}
