.language-switch {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 100;
}

.language-button {
  background: none;
  border: none;
  color: #555;
  /* font-size: 16px; */
  font-size: var(--font-size-l);
  /* font-weight: bold; */
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.language-button.active {
  /* color: #007bff; */
  color: var(--color-special);
  /* border-bottom: 2px solid #007bff; */
  border-bottom: 2px solid var(--color-special);
}

.language-button:hover {
  /* color: #0056b3; */
  color: var(--color-special);
}

.divider {
  margin: 0 5px;
  color: #aaa;
}
