.navbar {
  position: fixed;
  z-index: 2;
}

.menu-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 0 0 100% 0;
  background-color: var(--color-bg);
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-color: var(--color-special);
  opacity: 0.95;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  position: relative;
}

.menu-btn-box-open {
  width: 300px;
  height: 800px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  left: 40px;
  top: 60px;
}

.menu {
  position: absolute;
  left: 0;
  top: 150px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 24px 33px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  list-style: none;
}

.menu-items a {
  text-decoration: none;
  color: var(--color-text);
}

.menu-items a:hover {
  text-decoration: none;
  color: var(--color-special);
}

@media screen and (max-width: 830px) {
  .menu-btn-box {
    width: 120px;
    height: 120px;
  }

  .menu-btn-box-open {
    width: 300px;
    height: 660px;
  }

  .menu-btn {
    left: 20px;
    top: 30px;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 120px;
  }
}
