.navbar {
  /* position: relative; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;

  padding-top: 61px;
  z-index: 2;
  margin: 0 auto;
  max-width: 1400px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.logo {
  height: 130px;
}

.menu {
  display: flex;
}

.menu-btn {
  display: none;
  display: block;
}

.menu-items {
  list-style: none;
  display: flex;
  display: none;
  gap: 47px;
}

.menu-items a {
  font-size: 25px;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  position: absolute;
  right: 0;
  margin-right: 10%;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
  z-index: 3;
}

.menu-btn {
  display: block;
  cursor: pointer;
}

.menu-items {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  border-radius: 10px;
  background: rgb(25, 55, 109);
  background: linear-gradient(
    0deg,
    rgba(25, 55, 109, 0.2) 0%,
    rgba(25, 55, 109, 1) 100%
  );
  padding: 24px 33px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.menu-open {
  display: flex;
  z-index: 1;
}

.title {
  display: none;
}
