/* .experience-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
} */

.career {
  /* width: 50%; */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
}

@media screen and (max-width: 830px) {
  .career {
    width: 100%;
    gap: 9px;
  }
}
