:root {
  /* Colors */
  --color-text: #fff;
  /* --color-text-grey: rgba(255, 255, 255, 0.4); */
  --color-text-grey: #fff4;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-special: coral;
  --color-special: rgb(255, 50, 255);
  --color-special: #1396d7;

  /* Fonts */
  --font-roboto: "Roboto";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  /* font-family: "Robot"; */
  /* color: var(--color-text); */
}

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
}

.color-special {
  color: var(--color-special) !important;
}

.section-title {
  color: var(--color-text);
  color: var(--color-text-grey);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  /* opacity: 0.4; */
  margin-bottom: 30px;
  margin-top: 150px;
}

.hero-container {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* margin-top: 150px; */
  /* margin-bottom: 160px; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  height: 100vh;
  z-index: 1;
}

.swiper-button-prev {
  left: 100px !important;
}

.container {
  color: var(--color-text);
  margin: auto;
  margin-top: 80px;
  max-width: 1400px;
}

@media screen and (max-width: 830px) {
  .container {
    max-width: 95%;
    margin-top: 0px !important;
  }
}
