:root {
  /* Colors */
  --color-text: #fff;
  --color-text-grey: #fff4;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-special: coral;
  --color-special: rgb(255, 50, 255);
  --color-special: #1396d7;

  /* Fonts */
  --font-roboto: "Roboto";

  --font-size-sm: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.2rem;
  --font-size-xxl: 4rem;
  /* --font-size-sm: 18px;
  --font-size-l: 25px;
  --font-size-xl: 35px;
  --font-size-xxl: 64px; */
}

.color-special {
  color: var(--color-special) !important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: var(--font-size-l);
}

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  color: var(--color-text);
  margin: auto;
  /* margin-top: 80px; */
  max-width: 1280px;
  margin-bottom: 250px;
}

.section-title {
  color: var(--color-text-grey);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

/* .swiper-button-prev {
  left: 180px !important;
} */

@media screen and (max-width: 830px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: inherit;
    width: 95%;
    margin-bottom: 120px;
  }
}
